<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Data Mining</b></center>
<center><b><h1>ðŸ§º Online Retail Dataset (Apriori Preprocessing) - TASK 2</b></center>
<center><b><h1>137 | Vishal Baraiya | 23010101014</b></center>    
<pre>

**Dataset**: https://www.kaggle.com/datasets/vijayuv/onlineretail

# Step 1: Load Data

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
OnlineRetail = pd.read_csv("D:\\VS_CODES\\DataMining\\ProjectDataMining\\Dataset\\OnlineRetail.csv", encoding='ISO-8859-1')
OnlineRetail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 2: Drop Missing Invoices or Descriptions

In [3]:
OnlineRetail.dropna(subset=['InvoiceNo', 'Description'], inplace=True)
OnlineRetail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 3: Remove Canceled Invoices <BR> Start with letter 'c'

In [4]:
OnlineRetail = OnlineRetail[~OnlineRetail['InvoiceNo'].astype(str).str.startswith('C')]
OnlineRetail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 4: Keep Only Positive Quantities

In [5]:
OnlineRetail = OnlineRetail[OnlineRetail['Quantity'] > 0]
OnlineRetail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

# Step 5: Standardize Item Descriptions | Lower case and remove space

In [6]:
OnlineRetail['Description'] = OnlineRetail['Description'].str.lower().str.strip()
OnlineRetail

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\3445865463.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OnlineRetail['Description'] = OnlineRetail['Description'].str.lower().str.strip()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France

# Step 6: Filter for a Single Country (e.g., United Kingdom)

In [7]:
OnlineRetail[OnlineRetail["Country"] == "United Kingdom"]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541889,581585,22466,fairy tale cottage night light,12,12/9/2011 12:31,1.95,15804.0,United Kingdom
541890,581586,22061,large cake stand hanging strawbery,8,12/9/2011 12:49,2.95,13113.0,United Kingdom
541891,581586,23275,set of 3 hanging owls ollie beak,24,12/9/2011 12:49,1.25,13113.0,United Kingdom
541892,581586,21217,red retrospot round cake tins,24,12/9/2011 12:49,8.95,13113.0,United Kingdom
541893,581586,20685,doormat red retrospot,10,12/9/2011 12:49,7.08,13113.0,United Kingdom

# Step 7: Remove Duplicates

In [8]:
OnlineRetail = OnlineRetail.drop_duplicates()
OnlineRetail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France

# Step 8: Add TotalPrice column , TotalPrice = Quantity *  UnitPrice

In [9]:
OnlineRetail['TotalPrice'] = OnlineRetail['Quantity'] * OnlineRetail['UnitPrice']
OnlineRetail

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\2077981908.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OnlineRetail['TotalPrice'] = OnlineRetail['Quantity'] * OnlineRetail['UnitPrice']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,12/9/2011 12:50,0.85,12680.0,France,10.20
541905,581587,22899,children's apron dolly girl,6,12/9/2011 12:50,2.10,12680.0,France,12.60
541906,581587,23254,childrens cutlery dolly girl,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541907,581587,23255,childrens cutlery circus parade,4,12/9/2011 12:50,4.15,12680.0,France,16.60
541908,581587,22138,baking set 9 piece retrospot,3,12/9/2011 12:50,4.95,12680.0,France,14.85

# Step 9 : Check for Top 10 Selling Products

In [10]:
top_10_products = OnlineRetail.groupby('Description')["Quantity"].sum().sort_values(ascending=False).head(10)
print(top_10_products)

Description
paper craft , little birdie           80995
medium ceramic top storage jar        78033
world war 2 gliders asstd designs     54951
jumbo bag red retrospot               48375
white hanging heart t-light holder    37876
popcorn holder                        36749
pack of 72 retrospot cake cases       36396
assorted colour bird ornament         36362
rabbit night light                    30739
mini paint set vintage                26633
Name: Quantity, dtype: int64

# Step 10 : Identify Most Active Customers

In [22]:
# most_active_customers = (
#     OnlineRetail.groupby('CustomerID')['InvoiceNo']
#     .count()
#     .sort_values(ascending=False)
#     .head(10)
# )
# print(most_active_customers)

most_active_customers = OnlineRetail.groupby("CustomerID")["InvoiceNo"].count().sort_values(ascending=False).head(10)
print(most_active_customers)

CustomerID
17841.0    7983
14911.0    5903
14096.0    5128
12748.0    4642
14606.0    2782
15311.0    2491
14646.0    2085
13089.0    1857
13263.0    1677
14298.0    1640
Name: InvoiceNo, dtype: int64

# Step 11: Time-Based Analysis | Convert InvoiceDate to datetime and check popular months/hours.

In [12]:
OnlineRetail['InvoiceDate'] = pd.to_datetime(OnlineRetail['InvoiceDate'])
OnlineRetail

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\3988525607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OnlineRetail['InvoiceDate'] = pd.to_datetime(OnlineRetail['InvoiceDate'])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20
541905,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60
541906,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541907,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60
541908,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85

In [13]:
# Extract Month and Hour
OnlineRetail['InvoiceMonth'] = OnlineRetail['InvoiceDate'].dt.month
OnlineRetail['InvoiceHour'] = OnlineRetail['InvoiceDate'].dt.hour
OnlineRetail

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\3889572408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OnlineRetail['InvoiceMonth'] = OnlineRetail['InvoiceDate'].dt.month
C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\3889572408.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  OnlineRetail['InvoiceHour'] = OnlineRetail['InvoiceDate'].dt.hour

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,InvoiceMonth,InvoiceHour
0,536365,85123A,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30,12,8
1,536365,71053,white metal lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,8
2,536365,84406B,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00,12,8
3,536365,84029G,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,8
4,536365,84029E,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34,12,8
...,...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680.0,France,10.20,12,12
541905,581587,22899,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680.0,France,12.60,12,12
541906,581587,23254,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,12
541907,581587,23255,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680.0,France,16.60,12,12
541908,581587,22138,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680.0,France,14.85,12,12

In [14]:
# Popular Months
popular_months = (
    OnlineRetail.groupby('InvoiceMonth')['Quantity']
    .sum()
    .sort_values(ascending=False)
)
print(popular_months)

InvoiceMonth
11    766844
12    673511
10    624545
9     571399
8     422330
7     403939
5     397099
6     392822
1     387366
3     380158
4     309418
2     283041
Name: Quantity, dtype: int64

In [15]:
# Popular Purchase Hours
popular_hours = (
    OnlineRetail.groupby('InvoiceHour')['Quantity']
    .sum()
    .sort_values(ascending=False)
)
print(popular_hours)

InvoiceHour
12    839312
10    813971
13    706660
11    673214
15    645185
14    602616
9     519985
16    334827
17    193072
8     158685
18     67137
19     32929
7      15370
20      9508
6          1
Name: Quantity, dtype: int64

# Step 12: Convert to Basket Format

Example
<table border="1">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Milk</th>
            <th>Bread</th>
            <th>Butter</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>T1</td><td>1</td><td>1</td><td>1</td></tr>
        <tr><td>T2</td><td>0</td><td>1</td><td>1</td></tr>
        <tr><td>T3</td><td>1</td><td>0</td><td>0</td></tr>
        <tr><td>T4</td><td>1</td><td>1</td><td>0</td></tr>
        <tr><td>T5</td><td>0</td><td>1</td><td>1</td></tr>
    </tbody>
</table>

In [16]:
# Pick a small sample of 5 invoices
sample_invoices = OnlineRetail['InvoiceNo'].unique()[:5]  # first 5 unique invoices

# Filter the dataset to include only those invoices
sample_data = OnlineRetail[OnlineRetail['InvoiceNo'].isin(sample_invoices)]

# Preview sample
sample_data[['InvoiceNo', 'Description', 'Quantity']].head()

  InvoiceNo                          Description  Quantity
0    536365   white hanging heart t-light holder         6
1    536365                  white metal lantern         6
2    536365       cream cupid hearts coat hanger         8
3    536365  knitted union flag hot water bottle         6
4    536365       red woolly hottie white heart.         6

In [17]:
# Create basket format from sample
mini_basket = (
    sample_data
    .groupby(['InvoiceNo', 'Description'])['Quantity']
    .sum()
    .unstack()
    .fillna(0)
    .applymap(lambda x: 1 if x > 0 else 0)
)

# Optional: Rename index to "Transaction" like the image
mini_basket.index.name = 'Transaction'

# Display result
mini_basket.head()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_4392\2170959364.py:8: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  .applymap(lambda x: 1 if x > 0 else 0)

Description,assorted colour bird ornament,bath building block word,blue coat rack paris fashion,box of 6 assorted colour teaspoons,box of vintage alphabet blocks,box of vintage jigsaw blocks,cream cupid hearts coat hanger,doormat new england,feltcraft princess charlotte doll,glass star frosted t-light holder,...,love building block word,poppy's playhouse bedroom,poppy's playhouse kitchen,recipe box with metal heart,red coat rack paris fashion,red woolly hottie white heart.,set 7 babushka nesting boxes,white hanging heart t-light holder,white metal lantern,yellow coat rack paris fashion
Transaction,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,1,1,1,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,1,0,0,1,1,1,0,1,1,0,...,1,1,1,1,0,0,0,0,0,0
536368,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
536369,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Step:13 : Save Basket Format into CSV file

In [18]:
mini_basket.to_csv("mini_basket.csv")